{
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "printWidth": 200,
  "quoteProps": "as-needed",
  "proseWrap": "preserve"
}
